# Global owners (everything)
# @jonasbg - Jonas <jonas.bo.grimsgaard@nhn.no>
# @raacar - Raacar <raacar@example.com>
* @jonasbg @raacar @NorskHelsenett/motstandskraft

# ArgoCD
# @NorskHelsenett/motstandskraft